html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: gravitybook, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    margin: 0 auto;
    transition: all 1s ease;
}

@font-face {
    font-family: 'gravitybold';
    src: url('gravity-bold-webfont.woff2') format('woff2'), url('gravity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravitybold_italic';
    src: url('gravity-bolditalic-webfont.woff2') format('woff2'), url('gravity-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravitybook';
    src: url('gravity-book-webfont.woff2') format('woff2'), url('gravity-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravityitalic';
    src: url('gravity-italic-webfont.woff2') format('woff2'), url('gravity-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'historicalsans';
    src: url('historical_sans-webfont.woff2') format('woff2'), url('historical_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'schramberg_sansregular';
    src: url('schramberg_sans-webfont.woff2') format('woff2'), url('schramberg_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
    SPLASH STYLES
*/

#splash-page {
    position: relative;
    transition: visibility 1s ease-in, opacity 1s, background-color 1s ease;
}

div .intro-area {
    display: block;
    position: absolute;
    color: #17BF8D;
    margin: 33% 0 0 5%;
    z-index: 999;
}

.intro-area > span:nth-child(2) {
    display: block;
    text-shadow: 2px 2px 1px #00000025;
}

.title {
    font-family: schramberg_sansregular;
    font-size: 120px;
    letter-spacing: 10px;
    background: -webkit-linear-gradient(#17BF8D, #8BC34A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subtitle {
    font-family: gravitybold;
    font-size: 30px;
    color: #484540;
    letter-spacing: 8px;
}

#heading {
    font-family: gravitybold_italic;
    font-size: 22px;
    letter-spacing: 0.5px;
    color: #11916F;
    padding: 3px 0px 3px 10px;
}

.subheading {
    font-family: schramberg_sansregular;
    font-weight: bold;
    font-size: 14px;
}

.button-play {
    background-color: #17BF63;
    border: 2px solid #17BF63;
    border-radius: 3px;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin: 18px 0px 0px 0px;
    box-shadow: 3px 3px 1px #00000025;
    cursor: pointer;
}

    .button-play:hover {
        background-color: white;
        color: #17BF63;
        transition: 0.6s
    }

    .button-play:active {
        background-color: #17BF63;
        border: 2px solid white;
        color: white;
        transition: 1s;
    }

.button-text {
    font-family: schramberg_sansregular;
    font-size: 22px;
    letter-spacing: 4px;
}

.footer {
    position: absolute;
    left: 250px;
    top: 720px;
    color: #024030;
}

.divider {
    background-color: white;
}

/*
    FUNCTIONS STYLES
*/

.main-divider {
    display: block;
    background: linear-gradient(180deg, white, #1BD7C1 48.93%, #595959 86.36%);
    z-index: -1;
}

    .main-divider .divider:nth-child(1) {
        background-color: white;
    }

.container {
    max-width: 100vw;
}

    .container .sideblock:nth-child(1) {
        display: grid;
        grid-template-rows: 2fr 3fr;
    }

#function-info {
    position: relative;
}

#main-box {
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 5fr;
    bottom: -30px;
    right: -25px;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease;
}

#function-title {
    background-color: #3b3b3b;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
    width: 300px;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: schramberg_sansregular;
    font-size: 22px;
    padding-top: 14px;
    transition: all 0.8s ease;
}

#function-desc {
    background-color: #f2f2f2;
    width: 280px;
    height: 150px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0px 2px 15px #00000030;
    transition: all 0.8s ease;
}

#functions {
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s ease-in, opacity 3s;
    padding: 35px 0px 90px 0px;
}

#background, #bigBox, #smallBox {
    transition: background-color 1s ease;
}

#source {
    transition: all 1s ease;
}

.input-area {
    position: relative;
    background-color: #679a8f;
    box-shadow: 0px 9px 6px #00000030;
    border-radius: 5px;
    width: 600px;
    height: 450px;
    padding-bottom: 8px;
}

    .input-area > img {
        height: 450px;
        border-radius: 5px;
        width: auto;
        display: block;
        margin: 0 auto;
    }

#cell-img {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.6s ease-in, opacity 0.6s;
}

#plant-img {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.6s ease-in, opacity 0.6s;
    position: absolute;
    transform: translate(70px, -450px);
}

.input-area .absdiv {
    position: absolute;
    transition: all 0.6s ease;
    background-color: #54EAB8;
    border: 3px solid #333;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 4px 6px 2px #00000025;
    cursor: pointer;
}

    .input-area .absdiv:hover {
        background-color: #17bf8d;
    }

.input-area .absdiv2 {
    position: absolute;
    transition: all 0.6s ease;
    background-color: white;
    border: 3px solid #333;
    border-radius: 50%;
    width: 9px;
    height: 9px;
    box-shadow: 0px 4px 6px 2px #00000025;
    cursor: pointer;
}

    .input-area .absdiv2:hover {
        background-color: #595959;
    }

/*--- Positions of the absdivs ---*/

#nucleus {
    top: 70px;
    left: 350px;
}

#cellWall {
    top: 150px;
    left: 99px;
}

#ribosome {
    top: 278px;
    left: 318px;
}

#chloroplast {
    top: 217px;
    left: 382px;
}

#lysosome {
    top: 222px;
    left: 315px;
}

#vacuole {
    top: 125px;
    left: 189px;
}

#cytoplasm {
    top: 198px;
    left: 317px;
}

#mitochondrion {
    top: 194px;
    left: 262px;
}

#ereticulum {
    top: 120px;
    left: 418px;
}

#gcomplex {
    top: 260px;
    left: 265px;
}

#dermal {
    top: 236px;
    left: 195px;
}

#meristem {
    top: 70px;
    left: 44.5%;
}

#xylem {
    top: 74%;
    left: 53%;
}

#phloem {
    top: 78%;
    left: 48%;
}

#parenchyma {
    top: 257px;
    left: 244px;
}

#collenchyma {
    top: 240px;
    left: 52%;
}

#sclerenchyma {
    top: 212px;
    left: 65%;
}

/*------------------------*/

.main-output {
    padding-top: 40px;
}

.output-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #eaeaea;
    border-radius: 5px;
    width: 460px;
    height: 220px;
}

.output-img {
    margin: 0 auto;
    display: block;
    align-items: center;
    padding: 14px 6px 0px 14px;
}

#image {
    width: auto;
    height: 190px;
    border-radius: 6px;
}

.output-info {
    display: grid;
    grid-template-rows: 1fr 6fr;
}

    .output-info > div {
        border-radius: 5px;
    }

.info-name {
    padding-top: 8px;
    text-align: center;
}

.info-text {
    padding: 6px 18px 10px 18px;
    text-align: justify;
}

    .info-text span {
        font-family: gravitybook;
        font-size: 13px;
        line-height: 15px;
    }

.caption {
    font-size: 10.5px;
    font-family: gravitybook;
    line-height: 10px;
}

#learn-more {
    font-size: 17px;
    font-family: gravitybook;
    width: 300px;
}

    #learn-more a {
        font-weight: bold;
    }

#logo {
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s ease-in, opacity 3s;
    position: fixed;
    bottom: 0;
    left: 8px;
    margin: 0;
    z-index: 1001;
}

    #logo > img {
        margin: 0;
        height: 53px;
        width: auto;
    }

#buttons-bar {
    visibility: hidden;
    opacity: 0;
    transition: visibility 3s ease-in, opacity 3s;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    background-color: #333;
    margin: 0;
    padding: 0px 10px 0px 10px;
    width: 100%;
    height: 55px;
    justify-content: center;
}

    #buttons-bar > a {
        background-color: #333;
        text-decoration: none;
        color: #17BF63;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        font-family: schramberg_sansregular;
        bottom: 0;
        width: 100px;
        height: auto;
        text-align: center;
        padding: 18px 25px 0px 25px;
        transition: 0.6s;
        cursor: pointer;
    }

        #buttons-bar > a:hover {
            background-color: #17BF63;
            color: #333;
        }


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#button-back {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s ease-in, opacity 1s;
    position: relative;
    cursor: pointer;
    z-index: 4;
}

    #button-back img {
        position: fixed;
        top: 12px;
        left: 10px;
    }

/*
    BONUS STYLES
*/

#shadow-top {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility 1s ease-in, opacity 1s, display 1s ease-in;
    position: relative;
    z-index: 1;
    height: 15px;
    width: 100%;
    background-color: white;
    margin: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 9px 11px #00000065;
}

#shadow-bottom {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility 1s ease-in, opacity 1s, display 1s ease-in;
    position: relative;
    z-index: 1;
    height: 15px;
    width: 100%;
    background-color: #1BD7C1;
    margin: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 9px 11px #00000065;
}

#bonus-author {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility 1s ease-in, opacity 1s, display 1s ease-in, background-color 0.6s ease-in;
    position: relative;
    z-index: 0;
    border-top: 5px solid #1BD7C1;
    max-width: 100vw;
    min-height: 1000px;
    background-color: #1BD7C1;
}

.calc-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
    margin: auto;
    margin-top: 60px;
    width: 768px;
    height: 435px;
}

.calc-area {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: #17B5A2;
    border-radius: 10px;
    height: inherit;
}

#arrow {
    text-align: center;
    vertical-align: middle;
}

    #arrow img {
        height: 100px;
        width: auto;
    }

.column-input {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: inherit;
}

.column-arrow {
    display: grid;
    grid-template-rows: 1fr 100px 1fr;
    height: inherit;
}

.column-output {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    height: inherit;
}

.input div div, .output div div {
    height: 50px;
}

.input, .output {
    display: grid;
    height: 50px;
    width: 150px;
    margin: 15% auto;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    text-align: center;
}

    .input span, .output span {
        font-family: Inconsolata;
        font-size: 16px;
        height: 60px;
    }

.input-value, .output-value {
    border-radius: 5px;
    vertical-align: middle;
    height: 70px;
}

#arrow {
    cursor: pointer;
}

.output-value {
    text-align: center;
    font-size: 20px;
    background-color: white;
}

input[type="number"] {
    height: 70px;
    width: 100px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-size: 20px;
    font-family: Inconsolata;
}

.author-area {
    display: grid;
    grid-template-columns: 1fr 2fr 5fr;
    grid-gap: 30px;
}

.title-container {
    margin: 0px 30px 0px 130px;
    width: 75px;
    transform: translate(-120px, 10px);
    height: fit-content;
}

.author-title {
    width: inherit;
    font-family: schramberg_sansregular;
    font-size: 40px;
    line-height: 1;
    color: #595959;
}

.author-icons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.icon {
    border-radius: 10px;
    width: 125px;
    height: 125px;
}

    .icon > img {
        width: inherit;
        height: inherit;
        border-radius: 8px;
        box-shadow: 0px 2px 10px #00000030;
    }

.author-desc {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.desc {
    color: #333;
    font-size: 13px;
}

    .desc b {
        font-size: 20px;
        font-family: schramberg_sansregular;
    }

.calc-name {
    padding: 15px;
}

.calc-title {
    color: #44ffe9;
    font-family: schramberg_sansregular;
    font-size: 22px;
}

.calc-inst {
    color: #000000;
    font-size: 12px;
    font-family: gravitybook;
    line-height: 15px;
}

/*
    GREETINGS
*/

#greetings-main {
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: visibility 1s ease-in, opacity 1s, display 1s ease-in, background-color 0.6s ease-in;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 160px;
    background-color: #595959;
    padding-top: 90px;
}

#greetings {
    display: grid;
    grid-template-rows: 60px;
    grid-template-columns: 6fr 7fr 7fr 7fr 6fr;
    text-align: center;
}

#title {
    display: block;
}

    #title b {
        font-size: 22px;
    }

    #title span {
        font-size: 13px;
    }

#inptText {
    display: block;
}

    #inptText div {
        padding: 5px;
    }

    #inptText input {
        font: normal 13px gravitybook;
        width: 225px;
        height: 25px;
        text-align: center;
    }

    #inptText span {
        padding-top: 10px;
    }

#inptButton {
    margin: 0 auto;
    padding-top: 13px
}

    #inptButton input {
        width: 175px;
        height: 35px;
        font: normal 15px gravity;
        border-radius: 5px;
    }

/*
    MOBILE SCREEN

*/

@media screen and (max-width: 768px) {

    .button-text {
        font-family: schramberg_sansregular;
        font-size: 30px;
        letter-spacing: 3px;
    }

    .button-play {
        margin-left: 37%;
        margin-top: 30px;
        width: 100px;
        padding: 18px;
        height: 25px;
    }

    .subtitle {
        font-family: gravitybold;
        font-size: 21px;
        color: #484540;
        letter-spacing: 7px;
        width: 85%
    }

    .title {
        font-family: schramberg_sansregular;
        font-size: 85px;
        letter-spacing: 10px;
        background: -webkit-linear-gradient(#17BF8D, #8BC34A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        word-break: break-all;
        text-align: center;
    }

    .main-output {
        margin: 0 auto;
        padding: 5% 0;
    }

    div .intro-area {
        display: block;
        position: absolute;
        color: #17BF8D;
        margin: 33% 0 0 4.5%;
        z-index: 999;
        width: 100%;
    }

    .subheading {
        font-size: 25px;
    }

    .footer {
        top: 550px;
        left: auto;
        margin-left: 12%;
        font-size: 18px;
        width: 80%;
    }

    .button-play {
        margin-left: 33%;
        margin-top: 30px;
        width: 100px;
        padding: 18px;
        height: 25px;
    }

    .cell-img {
        height: 300px;
        width: auto;
    }

    .input-area {
        transform: scale(0.7);
        margin: 0px auto;
        width: auto;
    }

    .author-area {
        grid-template-rows: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
        grid-gap: 60px;
    }

    .title-container {
        grid-column: 1 / span 2;
    }

    .calc-container {
        width: min-content;
        grid-gap: 0;
        margin-top: 12%;
    }

    .calc-area {
        grid-template-columns: 1fr;
        grid-template-rows: 45% 18% 20%;
        height: 70%
    }

    .column-arrow {
        grid-gap: 30px;
        height: 550px;
        grid-template-rows: 10% 100px;
    }

    #plant-img {
        transform: translate(35px, -450px);
    }

    #bonus-author {
        height: 2220px;
        display: block;
    }

    .author-area {
        grid-gap: 50px;
        grid-template-rows: 1fr 7fr;
    }

    #greetings-main {
        padding: 0;
        height: 300px;
    }

    #greetings {
        grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
        grid-template-columns: 1fr;
        width: 250px;
        margin: 0 auto;
    }

    .author-desc, .author-icons {
        grid-template-rows: 25% 30% 5%;
    }

    .column-input {
        grid-template-rows: 1fr 2fr 2fr;
    }

    .column-output {
        grid-template-rows: 1fr 1fr;
    }

    #disappear {
        display: none;
    }

    .container .empty {
        display: none;
    }

    .container .sideblock:nth-child(1) {
        display: grid;
        grid-template-rows: 1fr;
    }

    #functionC {
        grid-template-columns: 1fr;
        grid-template-rows: 660px 1fr;
    }

    #inputC, #outputC {
        grid-template-columns: 1fr;
    }

    #function-info {
        position: relative;
        height: 500px;
    }

    #main-box {
        bottom: 0;
        right: 25%;
        margin: auto;
    }

    /*--- Positions of the absdivs ---*/

    #nucleus {
        top: 70px;
        left: 300px;
    }

    #cellWall {
        top: 150px;
        left: 49px;
    }

    #ribosome {
        top: 278px;
        left: 268px;
    }

    #chloroplast {
        top: 217px;
        left: 332px;
    }

    #lysosome {
        top: 222px;
        left: 265px;
    }

    #vacuole {
        top: 125px;
        left: 139px;
    }

    #cytoplasm {
        top: 198px;
        left: 267px;
    }

    #mitochondrion {
        top: 194px;
        left: 212px;
    }

    #ereticulum {
        top: 120px;
        left: 368px;
    }

    #gcomplex {
        top: 260px;
        left: 215px;
    }

    #dermal {
        top: 236px;
        left: 165px;
    }

    #meristem {
        top: 70px;
        left: 46.5%;
    }

    #xylem {
        top: 74%;
        left: 57%;
    }

    #phloem {
        top: 78%;
        left: 52%;
    }

    #parenchyma {
        top: 257px;
        left: 214px;
    }

    #collenchyma {
        top: 240px;
        left: 56%;
    }

    #sclerenchyma {
        top: 212px;
        left: 69%;
    }

    /*------------------------*/



}
